<!DOCTYPE html>
<html>
<head>
  <title>Este es el titulo</title>
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
  <script src="scripts.js"></script>
  <style srtype="text/css">
    .pou{
      background: black;
      color: #8FDDDF;
      height: 200px;
      width: 200px;
      border-radius: 5%;
    }
    .otra-pou{
      background: #043800;
      color: #EAE25E;
      height: 200px;
      width: 200px;
      border-radius: 5%;
    }
  </style>
</head>
<body>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<div class="pou">
  Aqui esta Pou
</div>
<div class="otra-pou">
  otra Pou
</div>
<p propiedad="valor">Holaa este es un parrafo en el body</p>
</body>
</html>
